.paralax1 {
  background-image: url("../img/bg1.jpg");
  min-height: 50vh;
  background-size: cover;
  padding-top: 25px;
}

.white-line {
  background-color: white;
}

.wrapper-head {
  display: flex;
  justify-content: space-between;
  width: 1024px;
  margin: 0 auto;
  height: 113px;
  align-items: center;
  
}

.wrapper-menu {
  display: flex;
  justify-content: space-between;
  width: 595px;
}

.text-decoration-none {
  text-decoration: none;
  color: black;
}